<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/Bootstrap.php"
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    syntaxCheck="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader">
    <php>
        <!-- You should put here yout 1C OData URL -->
        <!--<server name="URL_ODATA_1C" value="http://HOSTNAME/BASE/odata/standard.odata/" />-->
        <!-- Set your creditails-->
        <!--<server name="LOGIN" value="YOUR LOGIN HERE" />-->
        <!--<server name="PASSWORD" value="YOUR PASSWORD HERE" />-->
        <!-- This will allow CREATE, UPDATE and DELETE operations. USE WITH CAUTION!!! -->
        <!--<server name="ALLOW_UNSAFE_OPERATIONS" value="true" />-->
    </php>
    <testsuites>
        <testsuite>
            <directory>tests/OData/Tests</directory>
        </testsuite>
    </testsuites>


</phpunit>
