<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/Bootstrap.php"
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    testSuiteLoaderFile="phpunit/src/Runner/StandardTestSuiteLoader.php">
    <php>
        <!--<server name="URL_ODATA_1C" value="https://YOUR_ODATA_HOST/YOUR_CONF/odata/standard.odata/" />-->
        <!--<server name="LOGIN" value="YOUR_LOGIN" />-->
        <!--<server name="PASSWORD" value="YOUR_PASSWORD" />-->
        <!--<server name="ALLOW_UNSAFE_OPERATIONS" value="true" />-->
    </php>
    <testsuites>
        <testsuite name="main">
            <directory>tests/OData/Tests</directory>
        </testsuite>
    </testsuites>


</phpunit>
